aiodns==3.0.0
aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.4
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
arrow==1.2.3
asttokens==2.0.5
async-timeout==4.0.2
attrs==22.2.0
Automat==22.10.0
backcall==0.2.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
cachetools==5.3.1
ccxt==3.0.24
certifi==2023.11.17
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
constantly==23.10.4
cookiecutter==2.1.1
cryptography==41.0.5
cssselect==1.2.0
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
discord.py==2.2.2
distlib==0.3.6
entrypoints==0.4
exceptiongroup==1.1.3
executing==0.8.3
fastapi==0.95.1
fastapi-utils==0.2.1
filelock==3.13.1
fonttools==4.35.0
frozenlist==1.3.3
google-ads==22.0.0
google-api-core==2.11.1
google-api-python-client==2.94.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.1
grpcio==1.58.0
grpcio-status==1.58.0
h11==0.14.0
httplib2==0.22.0
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.8.0
incremental==22.10.0
ipykernel==6.15.0
ipython==8.4.0
itemadapter==0.8.0
itemloaders==1.1.0
jedi==0.18.1
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
jupyter-client==7.3.4
jupyter-core==4.10.0
kiwisolver==1.4.4
lxml==4.9.3
macholib==1.16.3
MarkupSafe==2.1.2
matplotlib==3.5.3
matplotlib-inline==0.1.3
mplfinance==0.12.9b7
msgpack==1.0.4
multidict==6.0.4
nest-asyncio==1.5.5
numpy==1.23.2
oauthlib==3.2.2
orquesta_sdk==1.11.8
outcome==1.3.0.post0
packaging==23.2
pandas==1.5.3
parsel==1.8.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.4
prompt-toolkit==3.0.29
Protego==0.3.0
proto-plus==1.22.3
protobuf==4.23.4
psutil==5.9.1
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycares==4.3.0
pycparser==2.21
pydantic==1.10.7
PyDispatcher==2.0.7
pyee==8.2.2
Pygments==2.12.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.11
pyOpenSSL==23.3.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyrsistent==0.19.2
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2022.6
PyYAML==6.0
pyzmq==23.1.0
queuelib==1.6.2
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.2.0
scipy==1.9.0
Scrapy==2.11.0
scrapy-user-agents==0.1.1
selenium==4.15.2
service-identity==23.1.0
six==1.16.0
sklearn==0.0
slack-bolt==1.18.1
slack-sdk==3.26.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==1.4.47
stack-data==0.3.0
starlette==0.26.1
ta==0.10.2
tabulate==0.9.0
tensorboardX==2.5.1
text-unidecode==1.3
threadpoolctl==3.1.0
tldextract==5.1.1
tornado==6.1
tqdm==4.66.1
traitlets==5.3.0
trio==0.23.1
trio-websocket==0.11.1
Twisted==22.10.0
typing_extensions==4.5.0
ua-parser==0.18.0
uritemplate==4.1.1
urllib3==1.26.13
user-agents==2.2.0
uvicorn==0.21.1
w3lib==2.1.2
wcwidth==0.2.5
webdriver-manager==4.0.1
websockets==10.4
wsproto==1.2.0
xgboost==1.7.5
yarl==1.8.2
zipp==3.17.0
zope.interface==6.1
